<h1><%= @p1 %> vs <%= @p2 %></h1>

<form method='post'>
	<p><%= @p1 %>'s hit points: 100</p>
	<button type="submit" name='attack' value='p1'>ATTACK</button>
	<p><%= @p2 %>'s hit points: 100</p>
	<button type="submit" name='attack' value='p2'>ATTACK</button>	
</form>
</br>
<% if @attacking_player %>
<p>Attack successful!</p>
<% end %>
